body {
  min-height: 611px;
  margin: 0;
  position: relative;
  background-color: #f8f9fa;
  font-family: Roboto, Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

.sidebar a {
  opacity: 0.75;
  text-decoration: none;
}

li {
  list-style: none;
}

.sidebar {
  width: 190px;
  height: 100vw;
  background-color: #2a3743;
  color: #fff;
}

.sidebar_item {
  background-color: #2a3743;
  color: #fff;
}

.menu-example {
  max-width: 280px;
  margin: 20px;
}
