code[class*="language-"],
pre[class*="language-"] {
  background: unset;
  font-family: monospace;
}

.example-section {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.grid {
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr);
  gap: 1em;
}

.grid > nav {
  max-height: calc(100vh - 16px);
  overflow: auto;
}

.grid > main {
  max-height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em;
}
